@media screen and (max-width: 650px){
    .header-shape{
        display:none;
    }
    .header-right{
        justify-content: center;
        left: 50%;
        transform: translateX(20%);
    }
    .me{
        display:none;
    }
    .controlDiv{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
    }
    .control{
        margin: 1rem .3rem;
    }
    .aboutTitle{
        h1{
            display: flex;
            font-size: 1.25rem;
            width: 150px;
            align-items: center;
        }
    }
    .aboutSummary{
        display: flex;
        max-height: 50%;
        width: 250px;
        font-size: 1rem;
        align-items: center;
       transform: translateX(-50%);
    }
    iframe{
        display: none;
    }
    h3{
        display: none;
    }
}

@media screen and (min-width: 1250px){
    .header-shape{
        max-width: 90%;
    }

    .name{
        transform: scale(1.2);
        text-align: center;
    }
    .header-right{
        transform: scale(1.2);
    }
    .resumeButton{
        transform: scale(1.2);
        margin-left: auto;
        margin-right: auto;
    }
    .contact-container{
        transform: scale(1.2);
        justify-content: space-around;
        .i{
            transform: scale(1.5);
        }
    }
}